In [1]:
import pandas as pd
import joblib

In [2]:
data = pd.read_csv("act_labeling_data_ohencoding.csv",encoding='cp949')

In [3]:
data.head()

,CUSTNO,GNO,CBSCORE,CBSCOREGRD,CREDITOTAMT,YSALEAMT,ESTMM,ASSETAMT,IMSAAMT,IMJUAMT,...,KIND_JOB_K,KIND_JOB_L,KIND_JOB_M,KIND_JOB_N,KIND_JOB_O,KIND_JOB_P,KIND_JOB_Q,KIND_JOB_R,KIND_JOB_S,KIND_JOB_T
0,475821,l180202101898,945,1,20,2038,37,10,10,0,...,0,0,0,0,0,0,0,0,0,0
1,74417,l230201700120,894,2,19,1175,9,25,0,25,...,0,0,0,0,0,0,0,0,0,0
2,387787,l110201603233,906,1,0,763,185,10,10,0,...,0,0,0,0,0,0,0,0,0,0
3,395418,l230201700254,881,2,14,724,11,10,10,0,...,0,0,0,0,0,0,0,0,0,0
4,190372,l200201601418,725,6,7,335,167,80,2,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
features = data[['CBSCORE', 'CBSCOREGRD', 'CREDITOTAMT', 'YSALEAMT',
       'ESTMM', 'ASSETAMT', 'IMSAAMT', 'IMJUAMT', 'BUSAAMT', 'BUJUAMT',
       'BU1TOTAMT', 'GAMT',  'LABORCNT', 'KOSPI', '환율',
       'GDP', '소상공인체감지수', '실업률', '물가지수', '국고채', '금리', '유가등락률', '소비자심리지수',
       'KIND_JOB_A', 'KIND_JOB_B', 'KIND_JOB_C', 'KIND_JOB_D',
       'KIND_JOB_E', 'KIND_JOB_F', 'KIND_JOB_G', 'KIND_JOB_H', 'KIND_JOB_I',
       'KIND_JOB_J', 'KIND_JOB_K', 'KIND_JOB_L', 'KIND_JOB_M', 'KIND_JOB_N',
       'KIND_JOB_O', 'KIND_JOB_P', 'KIND_JOB_Q', 'KIND_JOB_R', 'KIND_JOB_S',
       'KIND_JOB_T']]

act = data['ACTCD']

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler = scaler.fit(features)

In [6]:
##joblib.dump(scaler,'Robustscaler_save.save')

In [7]:
scaler.transform(features)

array([[ 1.48369323, -1.00877576, -0.18232408, ..., -0.19486318,
        -0.28523109, -0.00505618],
       [ 0.43662035, -0.26929295, -0.18735947, ..., -0.19486318,
        -0.28523109, -0.00505618],
       [ 0.68299044, -1.00877576, -0.28303175, ..., -0.19486318,
        -0.28523109, -0.00505618],
       ...,
       [-2.86884504,  2.68863825, -0.2377133 , ..., -0.19486318,
         3.50592916, -0.00505618],
       [ 1.54528575, -1.00877576, -0.28303175, ..., -0.19486318,
        -0.28523109, -0.00505618],
       [ 0.47768203, -0.26929295, -0.25785484, ..., -0.19486318,
        -0.28523109, -0.00505618]])

In [8]:
features

,CBSCORE,CBSCOREGRD,CREDITOTAMT,YSALEAMT,ESTMM,ASSETAMT,IMSAAMT,IMJUAMT,BUSAAMT,BUJUAMT,...,KIND_JOB_K,KIND_JOB_L,KIND_JOB_M,KIND_JOB_N,KIND_JOB_O,KIND_JOB_P,KIND_JOB_Q,KIND_JOB_R,KIND_JOB_S,KIND_JOB_T
0,945,1,20,2038,37,10,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,894,2,19,1175,9,25,0,25,0,0,...,0,0,0,0,0,0,0,0,0,0
2,906,1,0,763,185,10,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,881,2,14,724,11,10,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,725,6,7,335,167,80,2,0,0,78,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39112,865,3,0,0,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39113,780,5,11,0,10,10,0,10,0,0,...,0,0,0,0,0,1,0,0,0,0
39114,733,6,9,0,46,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39115,948,1,0,0,5,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
39116,896,2,5,0,16,6,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
###joblib.dump(scaler,'Sample_scaler_save.save')

In [10]:
from sklearn.model_selection import train_test_split


train_x, test_x,train_y, test_y = train_test_split(features, act,
stratify=act,train_size=0.7,test_size=0.3,random_state=42)

print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(27381, 43) (11736, 43) (27381,) (11736,)

In [11]:
from imblearn.combine import SMOTEENN,SMOTETomek

smtt = SMOTEENN(random_state=42)

smt_train_x, smt_train_y = smtt.fit_resample(train_x,train_y)

In [12]:
from sklearn.ensemble import RandomForestClassifier

KNC = RandomForestClassifier(n_estimators=200,max_depth=50,max_features=1)
KNC.fit(smt_train_x,smt_train_y)

RandomForestClassifier(max_depth=50, max_features=1, n_estimators=200)

In [15]:
joblib.dump(KNC,'RandomForestClassifier.save')

['RandomForestClassifier.save']

In [13]:
pred_y = KNC.predict_proba(test_x)

In [14]:
pred_y

array([[0.015, 0.985],
       [0.67 , 0.33 ],
       [0.905, 0.095],
       ...,
       [0.87 , 0.13 ],
       [0.71 , 0.29 ],
       [0.725, 0.275]])

In [68]:
data_df = pd.DataFrame(pred_y,columns=column_names)

In [69]:
data_df

       Prob_Yes   Prob_No
0      1.000000  0.000000
1      1.000000  0.000000
2      1.000000  0.000000
3      0.142857  0.857143
4      1.000000  0.000000
...         ...       ...
11731  1.000000  0.000000
11732  0.714286  0.285714
11733  1.000000  0.000000
11734  1.000000  0.000000
11735  0.428571  0.571429

[11736 rows x 2 columns]

In [76]:
bbb=pred_y[:,0:2]

In [77]:
bbb

array([[1.        , 0.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       ...,
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.42857143, 0.57142857]])

In [78]:
test_x['prob_Yes'],test_x['prob_No']=bbb

ValueError: too many values to unpack (expected 2)

In [75]:
test_x

,CBSCORE,CBSCOREGRD,CREDITOTAMT,YSALEAMT,ESTMM,ASSETAMT,IMSAAMT,IMJUAMT,BUSAAMT,BUJUAMT,...,KIND_JOB_M,KIND_JOB_N,KIND_JOB_O,KIND_JOB_P,KIND_JOB_Q,KIND_JOB_R,KIND_JOB_S,KIND_JOB_T,prob_Yes,"(prob_Yes, prob_No)"
35620,933,1,1,0,2,46,46,0,0,0,...,0,0,0,0,0,0,0,0,1.000000,1.000000
13304,834,4,0,136,19,22,22,0,0,0,...,0,0,0,0,0,0,0,0,1.000000,1.000000
38803,824,4,10,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.000000,1.000000
8618,895,2,63,230,57,265,40,0,0,225,...,0,0,0,0,0,0,0,0,0.142857,0.142857
36794,830,4,10,0,5,277,7,0,0,270,...,0,0,0,0,0,0,0,0,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4064,824,4,79,450,143,190,30,0,0,160,...,0,0,0,0,0,0,0,0,1.000000,1.000000
7401,920,1,0,269,102,390,0,0,0,390,...,0,0,0,0,0,0,0,0,0.714286,0.714286
28336,871,3,4,20,136,20,20,0,0,0,...,0,0,0,0,0,0,1,0,1.000000,1.000000
34226,933,1,0,0,3,25,25,0,0,0,...,0,0,0,0,0,0,0,0,1.000000,1.000000
22837,874,2,305,49,272,533,533,0,0,0,...,0,0,0,0,0,0,0,0,0.428571,0.428571

In [33]:
new = pd.concat([test_x,data_df],axis=1)

In [23]:
test_x['Prob_yes']=data_df['Prob_Yes']

C:\Users\user\anaconda3\envs\Study_Big\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [24]:
test_x

,CBSCORE,CBSCOREGRD,CREDITOTAMT,YSALEAMT,ESTMM,ASSETAMT,IMSAAMT,IMJUAMT,BUSAAMT,BUJUAMT,...,KIND_JOB_L,KIND_JOB_M,KIND_JOB_N,KIND_JOB_O,KIND_JOB_P,KIND_JOB_Q,KIND_JOB_R,KIND_JOB_S,KIND_JOB_T,Prob_yes
35620,933,1,1,0,2,46,46,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
13304,834,4,0,136,19,22,22,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
38803,824,4,10,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
8618,895,2,63,230,57,265,40,0,0,225,...,0,0,0,0,0,0,0,0,0,1.000000
36794,830,4,10,0,5,277,7,0,0,270,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4064,824,4,79,450,143,190,30,0,0,160,...,0,0,0,0,0,0,0,0,0,0.571429
7401,920,1,0,269,102,390,0,0,0,390,...,0,0,0,0,0,0,0,0,0,1.000000
28336,871,3,4,20,136,20,20,0,0,0,...,0,0,0,0,0,0,0,1,0,NaN
34226,933,1,0,0,3,25,25,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
22837,874,2,305,49,272,533,533,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN