In [3]:
import pandas as pd
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 '1.최종분석기획안.docx',
 '2.부실률 예측 모델링 기획안.docx',
 'final_final_result_cp949.csv',
 'final_merge_result.csv',
 'merge_day_빈값수정.csv',
 'merge_day_빈값수정.xlsx',
 'Untitled.ipynb',
 '분기별_거시변수_종합.csv',
 '분기별_거시변수_종합.xlsx',
 '신용보증재단 분석 아이디어 목록.hwp',
 '예측모델 관련 논문.zip',
 '요청SQL결과.csv',
 '월별_거시변수_종합.csv',
 '일별_코스피_환율.csv']

In [7]:
df = pd.read_csv("RISKCHECK\onehot.csv",encoding="cp949")

In [8]:
df.columns

Index(['고객번호', '보증번호', '신용점수', '신용등급', '신용대출금액', '연간환산매출액', '월기준업력', '자산가액',
       '사업장 임차보증금', '거주지 임차보증금', '사업장 부동산금액', '거주시 부동산금액', '부실징후1대출합', '보증금액',
       '업종', '노동자수', '보증일자'],
      dtype='object')

In [9]:
df['YEAR']=0
df['MONTH']=0
df["DAY"]=0

In [11]:
year=[]
month=[]
day=[]
for a in range(0,len(df)):
    year.append(df["보증일자"][a]//10000)
    month.append((df["보증일자"][a]%10000)//100)
    day.append(df["보증일자"][a]%100)

In [12]:
df['YEAR']=year
df['MONTH']=month
df["DAY"]=day

In [13]:
df['quarter']=0

In [14]:
for a in range(0,len(df)):
    if df['MONTH'][a] <=3:
        df['quarter'][a]= 1
    elif df['MONTH'][a] <=6:
        df['quarter'][a]= 2
    elif df['MONTH'][a] <=9:
        df['quarter'][a]= 3
    else:
        df['quarter'][a]= 4

C:\Users\user\AppData\Local\Temp/ipykernel_3396/2813647022.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'][a]= 3

In [15]:
df

,고객번호,보증번호,신용점수,신용등급,신용대출금액,연간환산매출액,월기준업력,자산가액,사업장 임차보증금,거주지 임차보증금,...,거주시 부동산금액,부실징후1대출합,보증금액,업종,노동자수,보증일자,YEAR,MONTH,DAY,quarter
0,670329,2.202020e+11,969,1,98,111,30,342,2,340.0,...,0.0,0,50000000,"M 전문, 과학 및 기술 서비스업 (70 ~ 73)",0,20210808,2021,8,8,3
1,671950,2.402020e+11,919,2,0,16,268,0,0,0.0,...,0.0,0,20000000,C 제조업 (10 ~ 34),0,20210808,2021,8,8,3
2,672224,1.502020e+11,765,5,22,18,6,0,0,0.0,...,0.0,15,10000000,H 운수업 (49~52),0,20210808,2021,8,8,3
3,390630,1.602020e+11,959,1,132,233,63,5,5,0.0,...,0.0,0,25000000,"M 전문, 과학 및 기술 서비스업 (70 ~ 73)",0,20210808,2021,8,8,3
4,523263,2.902020e+11,995,1,20,28,74,30,30,0.0,...,0.0,0,15000000,P 교육 서비스업(85),0,20210808,2021,8,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,620538,1.402020e+11,933,1,0,19,7,15,15,0.0,...,0.0,0,30000000,I 숙박 및 음식점업 (55 ~ 56),0,20210808,2021,8,8,3
890,621536,2.102020e+11,911,1,17,36,28,20,20,0.0,...,0.0,0,35000000,H 운수업 (49~52),0,20210808,2021,8,8,3
891,619413,2.002020e+11,891,2,87,0,6,25,25,0.0,...,0.0,0,25000000,C 제조업 (10 ~ 34),0,20210808,2021,8,8,3
892,620525,3.202020e+11,923,1,50,97,90,21,20,1.0,...,0.0,0,50000000,"M 전문, 과학 및 기술 서비스업 (70 ~ 73)",4,20210808,2021,8,8,3
893,620815,2.902020e+11,908,1,0,58,30,10,10,0.0,...,0.0,0,40000000,P 교육 서비스업(85),2,20210808,2021,8,8,3

In [35]:
day_df = pd.read_csv('RISKCHECK/Resource/일별_코스피_환율.csv',encoding='cp949')

In [36]:
day_df

               년   KOSPI지수 원/미국달러(매매기준율)_환율
0     2009-01-02  1,157.40         1,257.50
1     2009-01-05  1,173.57         1,320.20
2     2009-01-06  1,194.28         1,307.30
3     2009-01-07  1,228.17         1,312.20
4     2009-01-08  1,205.70         1,292.10
...          ...       ...              ...
3184  2021-11-02  3,013.49         1,176.30
3185  2021-11-03  2,975.71         1,175.50
3186  2021-11-04  2,983.22         1,181.10
3187  2021-11-05  2,969.27         1,180.00
3188  2021-11-08  2,960.20         1,185.20

[3189 rows x 3 columns]

In [42]:
year=[]
month=[]
day=[]

In [43]:
for a in range(0,len(day_df)):
    year.append(int(day_df['년'][a][0:4]))
    month.append(int(day_df['년'][a][5:7]))
    day.append(int(day_df['년'][a][-2:]))

In [44]:
day_df['YEAR']= year
day_df['MONTH']= month
day_df['DAY'] = day

In [45]:
day_df

               년   KOSPI지수 원/미국달러(매매기준율)_환율  YEAR  MONTH  DAY
0     2009-01-02  1,157.40         1,257.50  2009      1    2
1     2009-01-05  1,173.57         1,320.20  2009      1    5
2     2009-01-06  1,194.28         1,307.30  2009      1    6
3     2009-01-07  1,228.17         1,312.20  2009      1    7
4     2009-01-08  1,205.70         1,292.10  2009      1    8
...          ...       ...              ...   ...    ...  ...
3184  2021-11-02  3,013.49         1,176.30  2021     11    2
3185  2021-11-03  2,975.71         1,175.50  2021     11    3
3186  2021-11-04  2,983.22         1,181.10  2021     11    4
3187  2021-11-05  2,969.27         1,180.00  2021     11    5
3188  2021-11-08  2,960.20         1,185.20  2021     11    8

[3189 rows x 6 columns]

In [46]:
day_df.to_csv('RISKCHECK/Resource/일별_코스피_환율_분류.csv',encoding='cp949',index=False)

In [49]:
merge_df = pd.read_csv("RISKCHECK/Resource/분기별_거시변수_종합.csv")

In [50]:
merge_df.columns

Index(['MONTH', 'quarter', 'GDP'], dtype='object')

In [51]:
merge_df.columns=['YEAR','quarter','GDP']

In [52]:
result_df = pd.merge(df,merge_df,on=['YEAR','quarter'], how='left')

In [53]:
result_df

,고객번호,보증번호,신용점수,신용등급,신용대출금액,연간환산매출액,월기준업력,자산가액,사업장 임차보증금,거주지 임차보증금,...,부실징후1대출합,보증금액,업종,노동자수,보증일자,YEAR,MONTH,DAY,quarter,GDP
0,670329,2.202020e+11,969,1,98,111,30,342,2,340.0,...,0,50000000,"M 전문, 과학 및 기술 서비스업 (70 ~ 73)",0,20210808,2021,8,8,3,"477,714.20"
1,671950,2.402020e+11,919,2,0,16,268,0,0,0.0,...,0,20000000,C 제조업 (10 ~ 34),0,20210808,2021,8,8,3,"477,714.20"
2,672224,1.502020e+11,765,5,22,18,6,0,0,0.0,...,15,10000000,H 운수업 (49~52),0,20210808,2021,8,8,3,"477,714.20"
3,390630,1.602020e+11,959,1,132,233,63,5,5,0.0,...,0,25000000,"M 전문, 과학 및 기술 서비스업 (70 ~ 73)",0,20210808,2021,8,8,3,"477,714.20"
4,523263,2.902020e+11,995,1,20,28,74,30,30,0.0,...,0,15000000,P 교육 서비스업(85),0,20210808,2021,8,8,3,"477,714.20"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,620538,1.402020e+11,933,1,0,19,7,15,15,0.0,...,0,30000000,I 숙박 및 음식점업 (55 ~ 56),0,20210808,2021,8,8,3,"477,714.20"
890,621536,2.102020e+11,911,1,17,36,28,20,20,0.0,...,0,35000000,H 운수업 (49~52),0,20210808,2021,8,8,3,"477,714.20"
891,619413,2.002020e+11,891,2,87,0,6,25,25,0.0,...,0,25000000,C 제조업 (10 ~ 34),0,20210808,2021,8,8,3,"477,714.20"
892,620525,3.202020e+11,923,1,50,97,90,21,20,1.0,...,0,50000000,"M 전문, 과학 및 기술 서비스업 (70 ~ 73)",4,20210808,2021,8,8,3,"477,714.20"
893,620815,2.902020e+11,908,1,0,58,30,10,10,0.0,...,0,40000000,P 교육 서비스업(85),2,20210808,2021,8,8,3,"477,714.20"

In [23]:
result_df.to_csv("final_merge_result.csv",encoding="cp949",index=False)

In [24]:
new_df = pd.read_csv("final_merge_result.csv",encoding="cp949")

In [54]:
month_df = pd.read_csv("RISKCHECK/Resource/월별_거시변수_종합.csv",encoding="cp949")

In [55]:
month_df

     YEAR  MONTH  sosanggong  silup    mulga  korearate  bankrate   WTI    CCI
0    2009      1       60.80    3.3   86.916       3.44      2.50 -54.6   84.0
1    2009      2        0.00    3.3   87.543       3.78      2.00 -56.0   85.0
2    2009      3       60.50    3.5   88.170       3.69      2.00 -51.1   84.0
3    2009      4        0.00    3.6   88.405       3.76      2.00 -54.9   98.0
4    2009      5        0.00    3.9   88.405       3.83      2.00 -47.9  105.0
..    ...    ...         ...    ...      ...        ...       ...   ...    ...
148  2021      5       51.95    3.8  107.460       1.13      0.50  86.9  105.3
149  2021      6       51.40    3.7  107.390       1.30      0.50  87.1  110.3
150  2021      7       29.70    3.3  107.610       1.42      0.50  83.6  103.2
151  2021      8       33.70    2.8  108.290       1.41      0.75  60.8  102.5
152  2021      9       67.50    3.0  108.830       1.52      0.75  86.5  103.8

[153 rows x 9 columns]

In [35]:
new_df["GNO"][0]

180201000000.0

In [28]:
month_df

     YEAR  MONTH  sosanggong  silup    mulga  korearate  bankrate   WTI    CCI
0    2009      1       60.80    3.3   86.916       3.44      2.50 -54.6   84.0
1    2009      2        0.00    3.3   87.543       3.78      2.00 -56.0   85.0
2    2009      3       60.50    3.5   88.170       3.69      2.00 -51.1   84.0
3    2009      4        0.00    3.6   88.405       3.76      2.00 -54.9   98.0
4    2009      5        0.00    3.9   88.405       3.83      2.00 -47.9  105.0
..    ...    ...         ...    ...      ...        ...       ...   ...    ...
148  2021      5       51.95    3.8  107.460       1.13      0.50  86.9  105.3
149  2021      6       51.40    3.7  107.390       1.30      0.50  87.1  110.3
150  2021      7       29.70    3.3  107.610       1.42      0.50  83.6  103.2
151  2021      8       33.70    2.8  108.290       1.41      0.75  60.8  102.5
152  2021      9       67.50    3.0  108.830       1.52      0.75  86.5  103.8

[153 rows x 9 columns]

In [56]:
new_result_df = pd.merge(result_df,month_df,how='left',on=['YEAR','MONTH'])

In [57]:
new_result_df

,고객번호,보증번호,신용점수,신용등급,신용대출금액,연간환산매출액,월기준업력,자산가액,사업장 임차보증금,거주지 임차보증금,...,DAY,quarter,GDP,sosanggong,silup,mulga,korearate,bankrate,WTI,CCI
0,670329,2.202020e+11,969,1,98,111,30,342,2,340.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5
1,671950,2.402020e+11,919,2,0,16,268,0,0,0.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5
2,672224,1.502020e+11,765,5,22,18,6,0,0,0.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5
3,390630,1.602020e+11,959,1,132,233,63,5,5,0.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5
4,523263,2.902020e+11,995,1,20,28,74,30,30,0.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,620538,1.402020e+11,933,1,0,19,7,15,15,0.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5
890,621536,2.102020e+11,911,1,17,36,28,20,20,0.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5
891,619413,2.002020e+11,891,2,87,0,6,25,25,0.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5
892,620525,3.202020e+11,923,1,50,97,90,21,20,1.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5
893,620815,2.902020e+11,908,1,0,58,30,10,10,0.0,...,8,3,"477,714.20",33.7,2.8,108.29,1.41,0.75,60.8,102.5

In [31]:
new_result_df.to_csv("final_final_result_cp949.csv",encoding="cp949",index=False)

In [32]:
new_result_df.columns

Index(['CUSTNO', 'GNO', 'CBSCORE', 'CBSCOREGRD', 'CREDITOTAMT', 'YSALEAMT',
       'ESTMM', 'ASSETAMT', 'IMSAAMT', 'IMJUAMT', 'BUSAAMT', 'BUJUAMT',
       'BU1TOTAMT', 'GAMT', 'GKIND', 'RPTKIND', 'BIZNML', 'GDT', 'LABORCNT',
       'ACTCD', 'ACTKND', 'GDT_S', '년', 'KOSPI지수', '원/미국달러(매매기준율)_환율', '일자_S',
       'YEAR', 'MONTH', 'DAY', 'quarter', 'GDP', 'sosanggong', 'silup',
       'mulga', 'korearate', 'bankrate', 'WTI', 'CCI'],
      dtype='object')

In [33]:
ab = new_result_df[[ 'CUSTNO', 'GNO', 'CBSCORE', 'CBSCOREGRD', 'CREDITOTAMT',
       'YSALEAMT', 'ESTMM', 'ASSETAMT', 'IMSAAMT', 'IMJUAMT', 'BUSAAMT',
       'BUJUAMT', 'BU1TOTAMT', 'GAMT', 'GKIND', 'RPTKIND', 'BIZNML', 'GDT',
       'LABORCNT', 'ACTCD', 'ACTKND', 'GDT_S', '년', 'KOSPI지수',
       '원/미국달러(매매기준율)_환율', '일자_S', 'YEAR', 'MONTH', 'DAY', 'quarter', 'GDP',
       'sosanggong', 'silup', 'mulga', 'korearate', 'bankrate', 'WTI', 'CCI']]

In [34]:
ab.to_csv("final_final_result_cp949.csv",encoding="cp949",index=False)