In [1]:
import pandas as pd
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 '1.최종분석기획안.docx',
 '2.부실률 예측 모델링 기획안.docx',
 'final_final_result_cp949.csv',
 'final_merge_result.csv',
 'merge_day_빈값수정.csv',
 'merge_day_빈값수정.xlsx',
 'Untitled.ipynb',
 '분기별_거시변수_종합.csv',
 '분기별_거시변수_종합.xlsx',
 '신용보증재단 분석 아이디어 목록.hwp',
 '예측모델 관련 논문.zip',
 '요청SQL결과.csv',
 '월별_거시변수_종합.csv',
 '일별_코스피_환율.csv']

In [5]:
df = pd.read_excel("merge_day_빈값수정.xlsx")

In [7]:
df.to_csv("merge_day_빈값수정_csv전환.csv",encoding="cp949",index=False)

In [9]:
df = pd.read_csv("merge_day_빈값수정_csv전환.csv",encoding="cp949")

In [10]:
df.columns

Index(['CUSTNO', 'GNO', 'CBSCORE', 'CBSCOREGRD', 'CREDITOTAMT', 'YSALEAMT',
       'ESTMM', 'ASSETAMT', 'IMSAAMT', 'IMJUAMT', 'BUSAAMT', 'BUJUAMT',
       'BU1TOTAMT', 'GAMT', 'GKIND', 'RPTKIND', 'BIZNML', 'GDT', 'LABORCNT',
       'ACTCD', 'ACTKND', 'GDT_S', '년', 'KOSPI지수', '원/미국달러(매매기준율)_환율', '일자_S'],
      dtype='object')

In [11]:
df['YEAR']=0
df['MONTH']=0
df["DAY"]=0

In [12]:
year=[]
month=[]
day=[]
for a in range(0,len(df)):
    year.append(df["GDT"][a]//10000)
    month.append((df["GDT"][a]%10000)//100)
    day.append(df["GDT"][a]%100)

In [13]:
df['YEAR']=year
df['MONTH']=month
df["DAY"]=day

In [14]:
df['quarter']=0

In [15]:
for a in range(0,len(df)):
    if df['MONTH'][a] <=3:
        df['quarter'][a]= 1
    elif df['MONTH'][a] <=6:
        df['quarter'][a]= 2
    elif df['MONTH'][a] <=9:
        df['quarter'][a]= 3
    else:
        df['quarter'][a]= 4

<ipython-input-15-86d046581785>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'][a]= 3
<ipython-input-15-86d046581785>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'][a]= 1
<ipython-input-15-86d046581785>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'][a]= 4
<ipython-input-15-86d046581785>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'][a]= 2

In [16]:
df

,CUSTNO,GNO,CBSCORE,CBSCOREGRD,CREDITOTAMT,YSALEAMT,ESTMM,ASSETAMT,IMSAAMT,IMJUAMT,...,ACTKND,GDT_S,년,KOSPI지수,원/미국달러(매매기준율)_환율,일자_S,YEAR,MONTH,DAY,quarter
0,154627,1.802010e+11,858,3,19.0,44.0,8,90,90.0,0.0,...,NaN,20090706,2009-07-06,1428.94,1272.2,20090706,2009,7,6,3
1,193465,2.302010e+11,782,5,17.0,173.0,13,10,10.0,0.0,...,NaN,20100331,2010-03-31,1692.85,1130.8,20100331,2010,3,31,1
2,226001,1.602010e+11,813,4,344.0,23.0,177,375,0.0,0.0,...,NaN,20101228,2010-12-28,2033.32,1150.6,20101228,2010,12,28,4
3,229838,1.602010e+11,915,1,955.0,583.0,120,210,30.0,0.0,...,NaN,20110328,2011-03-28,2056.39,1114.5,20110328,2011,3,28,1
4,231289,1.802010e+11,757,5,53.0,0.0,111,9,6.0,3.0,...,NaN,20110425,2011-04-25,2216.00,1081.8,20110425,2011,4,25,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39350,671448,1.602020e+11,859,3,15.0,3.0,8,5,5.0,0.0,...,NaN,20211104,2021-11-04,2983.22,1181.1,20211104,2021,11,4,4
39351,671741,1.802020e+11,969,1,0.0,26.0,101,0,0.0,0.0,...,NaN,20211104,2021-11-04,2983.22,1181.1,20211104,2021,11,4,4
39352,670329,1.102020e+11,969,1,98.0,111.0,30,342,2.0,340.0,...,NaN,20211105,2021-11-05,2969.27,1180.0,20211105,2021,11,5,4
39353,671950,2.602020e+11,919,2,0.0,16.0,268,0,0.0,0.0,...,NaN,20211105,2021-11-05,2969.27,1180.0,20211105,2021,11,5,4
39354,672224,2.202020e+11,765,5,22.0,18.0,6,0,0.0,0.0,...,NaN,20211105,2021-11-05,2969.27,1180.0,20211105,2021,11,5,4

In [17]:
merge_df = pd.read_csv("분기별_거시변수_종합.csv")

In [19]:
merge_df.columns

Index(['MONTH', 'quarter', 'GDP'], dtype='object')

In [20]:
merge_df.columns=['YEAR','quarter','GDP']

In [21]:
result_df = pd.merge(df,merge_df,on=['YEAR','quarter'], how='left')

In [22]:
result_df

,CUSTNO,GNO,CBSCORE,CBSCOREGRD,CREDITOTAMT,YSALEAMT,ESTMM,ASSETAMT,IMSAAMT,IMJUAMT,...,GDT_S,년,KOSPI지수,원/미국달러(매매기준율)_환율,일자_S,YEAR,MONTH,DAY,quarter,GDP
0,154627,1.802010e+11,858,3,19.0,44.0,8,90,90.0,0.0,...,20090706,2009-07-06,1428.94,1272.2,20090706,2009,7,6,3,"339,310.50"
1,193465,2.302010e+11,782,5,17.0,173.0,13,10,10.0,0.0,...,20100331,2010-03-31,1692.85,1130.8,20100331,2010,3,31,1,"348,541.70"
2,226001,1.602010e+11,813,4,344.0,23.0,177,375,0.0,0.0,...,20101228,2010-12-28,2033.32,1150.6,20101228,2010,12,28,4,"363,646.80"
3,229838,1.602010e+11,915,1,955.0,583.0,120,210,30.0,0.0,...,20110328,2011-03-28,2056.39,1114.5,20110328,2011,3,28,1,"367,040.10"
4,231289,1.802010e+11,757,5,53.0,0.0,111,9,6.0,3.0,...,20110425,2011-04-25,2216.00,1081.8,20110425,2011,4,25,2,"368,841.50"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39350,671448,1.602020e+11,859,3,15.0,3.0,8,5,5.0,0.0,...,20211104,2021-11-04,2983.22,1181.1,20211104,2021,11,4,4,NaN
39351,671741,1.802020e+11,969,1,0.0,26.0,101,0,0.0,0.0,...,20211104,2021-11-04,2983.22,1181.1,20211104,2021,11,4,4,NaN
39352,670329,1.102020e+11,969,1,98.0,111.0,30,342,2.0,340.0,...,20211105,2021-11-05,2969.27,1180.0,20211105,2021,11,5,4,NaN
39353,671950,2.602020e+11,919,2,0.0,16.0,268,0,0.0,0.0,...,20211105,2021-11-05,2969.27,1180.0,20211105,2021,11,5,4,NaN
39354,672224,2.202020e+11,765,5,22.0,18.0,6,0,0.0,0.0,...,20211105,2021-11-05,2969.27,1180.0,20211105,2021,11,5,4,NaN

In [23]:
result_df.to_csv("final_merge_result.csv",encoding="cp949",index=False)

In [24]:
new_df = pd.read_csv("final_merge_result.csv",encoding="cp949")

In [25]:
month_df = pd.read_csv("월별_거시변수_종합.csv",encoding="cp949")

In [26]:
month_df

     YEAR  MONTH  sosanggong  silup    mulga  korearate  bankrate   WTI    CCI
0    2009      1       60.80    3.3   86.916       3.44      2.50 -54.6   84.0
1    2009      2        0.00    3.3   87.543       3.78      2.00 -56.0   85.0
2    2009      3       60.50    3.5   88.170       3.69      2.00 -51.1   84.0
3    2009      4        0.00    3.6   88.405       3.76      2.00 -54.9   98.0
4    2009      5        0.00    3.9   88.405       3.83      2.00 -47.9  105.0
..    ...    ...         ...    ...      ...        ...       ...   ...    ...
148  2021      5       51.95    3.8  107.460       1.13      0.50  86.9  105.3
149  2021      6       51.40    3.7  107.390       1.30      0.50  87.1  110.3
150  2021      7       29.70    3.3  107.610       1.42      0.50  83.6  103.2
151  2021      8       33.70    2.8  108.290       1.41      0.75  60.8  102.5
152  2021      9       67.50    3.0  108.830       1.52      0.75  86.5  103.8

[153 rows x 9 columns]

In [35]:
new_df["GNO"][0]

180201000000.0

In [28]:
month_df

     YEAR  MONTH  sosanggong  silup    mulga  korearate  bankrate   WTI    CCI
0    2009      1       60.80    3.3   86.916       3.44      2.50 -54.6   84.0
1    2009      2        0.00    3.3   87.543       3.78      2.00 -56.0   85.0
2    2009      3       60.50    3.5   88.170       3.69      2.00 -51.1   84.0
3    2009      4        0.00    3.6   88.405       3.76      2.00 -54.9   98.0
4    2009      5        0.00    3.9   88.405       3.83      2.00 -47.9  105.0
..    ...    ...         ...    ...      ...        ...       ...   ...    ...
148  2021      5       51.95    3.8  107.460       1.13      0.50  86.9  105.3
149  2021      6       51.40    3.7  107.390       1.30      0.50  87.1  110.3
150  2021      7       29.70    3.3  107.610       1.42      0.50  83.6  103.2
151  2021      8       33.70    2.8  108.290       1.41      0.75  60.8  102.5
152  2021      9       67.50    3.0  108.830       1.52      0.75  86.5  103.8

[153 rows x 9 columns]

In [29]:
new_result_df = pd.merge(new_df,month_df,how='left',on=['YEAR','MONTH'])

In [30]:
new_result_df

,CUSTNO,GNO,CBSCORE,CBSCOREGRD,CREDITOTAMT,YSALEAMT,ESTMM,ASSETAMT,IMSAAMT,IMJUAMT,...,DAY,quarter,GDP,sosanggong,silup,mulga,korearate,bankrate,WTI,CCI
0,154627,1.802010e+11,858,3,19.0,44.0,8,90,90.0,0.0,...,6,3,"339,310.50",78.10,3.8,88.641,4.09,2.0,-44.0,109.0
1,193465,2.302010e+11,782,5,17.0,173.0,13,10,10.0,0.0,...,31,1,"348,541.70",83.15,3.6,90.338,3.94,2.0,68.7,112.0
2,226001,1.602010e+11,813,4,344.0,23.0,177,375,0.0,0.0,...,28,4,"363,646.80",86.35,3.6,91.977,3.25,2.5,15.1,112.0
3,229838,1.602010e+11,915,1,955.0,583.0,120,210,30.0,0.0,...,28,1,"367,040.10",90.90,3.8,94.072,3.74,3.0,27.4,99.0
4,231289,1.802010e+11,757,5,53.0,0.0,111,9,6.0,3.0,...,25,2,"368,841.50",95.75,3.5,94.163,3.74,3.0,32.2,101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39350,671448,1.602020e+11,859,3,15.0,3.0,8,5,5.0,0.0,...,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39351,671741,1.802020e+11,969,1,0.0,26.0,101,0,0.0,0.0,...,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39352,670329,1.102020e+11,969,1,98.0,111.0,30,342,2.0,340.0,...,5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39353,671950,2.602020e+11,919,2,0.0,16.0,268,0,0.0,0.0,...,5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39354,672224,2.202020e+11,765,5,22.0,18.0,6,0,0.0,0.0,...,5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
new_result_df.to_csv("final_final_result_cp949.csv",encoding="cp949",index=False)

In [32]:
new_result_df.columns

Index(['CUSTNO', 'GNO', 'CBSCORE', 'CBSCOREGRD', 'CREDITOTAMT', 'YSALEAMT',
       'ESTMM', 'ASSETAMT', 'IMSAAMT', 'IMJUAMT', 'BUSAAMT', 'BUJUAMT',
       'BU1TOTAMT', 'GAMT', 'GKIND', 'RPTKIND', 'BIZNML', 'GDT', 'LABORCNT',
       'ACTCD', 'ACTKND', 'GDT_S', '년', 'KOSPI지수', '원/미국달러(매매기준율)_환율', '일자_S',
       'YEAR', 'MONTH', 'DAY', 'quarter', 'GDP', 'sosanggong', 'silup',
       'mulga', 'korearate', 'bankrate', 'WTI', 'CCI'],
      dtype='object')

In [33]:
ab = new_result_df[[ 'CUSTNO', 'GNO', 'CBSCORE', 'CBSCOREGRD', 'CREDITOTAMT',
       'YSALEAMT', 'ESTMM', 'ASSETAMT', 'IMSAAMT', 'IMJUAMT', 'BUSAAMT',
       'BUJUAMT', 'BU1TOTAMT', 'GAMT', 'GKIND', 'RPTKIND', 'BIZNML', 'GDT',
       'LABORCNT', 'ACTCD', 'ACTKND', 'GDT_S', '년', 'KOSPI지수',
       '원/미국달러(매매기준율)_환율', '일자_S', 'YEAR', 'MONTH', 'DAY', 'quarter', 'GDP',
       'sosanggong', 'silup', 'mulga', 'korearate', 'bankrate', 'WTI', 'CCI']]

In [34]:
ab.to_csv("final_final_result_cp949.csv",encoding="cp949",index=False)